services:
  service-a:
    build:
      context: ./service-a
      dockerfile: app/Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - service-b

  redis:
    image: "redis:alpine"
    volumes:
      - redis_data:/data
  
  service-b:
    build:
      context: ./service-b
      dockerfile: app/Dockerfile
    env_file:
      - .env.example
    ports:
      - "8001:8001"
    depends_on:
      - redis

volumes:
  redis_data: